.section-home-intro {
    @include media-breakpoint-down(md) {
        overflow-x: hidden;
    }
    @include media-breakpoint-up(xl) {
        overflow-y: visible;
    }
    &--inner {
        padding-top: $menu-primary-height;
    }
}
