.bg {
    &-sage {
        background-color: $sage;
        &-light {
            background-color: $sage-light;
        }
    }
    &-cloud {
        background-color: $cloud;
    }
    &-half-horz-cloud-primary {
        background: linear-gradient(0deg, $primary 50%, $cloud 50%);
    }
}
