.btn {
    letter-spacing: 0.04em;
    &-light,
    &-light:hover {
        color: $primary;
    }
    &-arrow {
        background-image: url($svg-arrow-primary);
        background-position: 100% -2px;
        background-repeat: no-repeat;
        padding-right: 24px;
        background-size: 10% 125%;
        text-decoration: none;
        transition: padding-right 0.1s;
        letter-spacing: 0.04em;

        &:hover {
            padding-right: 26px;
            transition: padding-right 0.1s;
        }
    }
}
