body {
    font-family: "Open Sans", sans-serif;
}

$font-name: "Quatro";
$font-path: "/fonts/quatro/";
$font-formats: [ttf woff2 woff];

@include font-face(
    $font-name,
    $font-path + "Quatro-Light/Quatro-Light",
    300,
    "normal",
    $font-formats
);

@include font-face(
    $font-name,
    $font-path + "Quatro-LightItalic/Quatro-LightItalic",
    300,
    "italic",
    $font-formats
);

@include font-face(
    $font-name,
    $font-path + "Quatro-Regular/Quatro-Regular",
    400,
    "normal",
    $font-formats
);

@include font-face(
    $font-name,
    $font-path + "Quatro-RegularItalic/Quatro-RegularItalic",
    400,
    "italic",
    $font-formats
);

@include font-face(
    $font-name,
    $font-path + "Quatro-Bold/Quatro-Bold",
    500,
    "normal",
    $font-formats
);

@include font-face(
    $font-name,
    $font-path + "Quatro-Bold/Quatro-BoldItalic",
    500,
    "italic",
    $font-formats
);

h1,
h2,
h3,
h4 {
    font-family: "Quatro", sans-serif;
}
