.hero {
    min-height: $hero-height;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    @include media-breakpoint-up(lg) {
        padding-top: $menu-primary-height; // Because the menu is sticky
    }
}
