.mask-image--hex {
    @include mask-image($mask-image-hex);
    aspect-ratio: 173 / 200;
    background-size: cover;
}

.img-hex-into,
.img-hex-into-2 {
    z-index: 0;
    position: relative;
    &:before,
    &:after {
        content: " ";
        height: 130px;
        width: 112px;
        display: block;
        background-image: url($svg-hex-white);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
        position: absolute;
        z-index: -1;
    }
}
.img-hex-into {
    &:before {
        left: 15%;
        top: -4%;
    }
    &:after {
        right: -23.3%;
        top: 7.5%;
    }
}
.img-hex-into-2 {
    &:after {
        right: -35%;
        top: 44.5%;
    }
    &:before {
        display: none;
    }
}
