.mask-image--hex {
    @include mask-image($mask-image-hex);
    aspect-ratio: 173 / 200;
    background-size: cover;
    width: 100%;
}

$img-hex-height: 130px;
$img-hex-width: 112px;

.img-hex-into,
.img-hex-into-2 {
    z-index: 0;
    position: relative;
    &:before,
    &:after {
        display: none;
        content: " ";
        background-image: url($svg-hex-white);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
        position: absolute;
        z-index: -1;
        @include media-breakpoint-up(md) {
            height: $img-hex-height;
            width: $img-hex-width;
        }
        @include media-breakpoint-up(lg) {
            display: block;
            height: $img-hex-height * 0.75;
            width: $img-hex-width * 0.75;
        }
        @include media-breakpoint-up(xl) {
            height: $img-hex-height;
            width: $img-hex-width;
        }
    }
}
.img-hex-into {
    &--col {
        @include media-breakpoint-down(md) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    @include media-breakpoint-up(lg) {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        &:before {
            left: 11%;
            top: -5%;
        }
        &:after {
            right: -20.7%;
            top: 8.7%;
        }
    }
    @include media-breakpoint-up(xl) {
        margin-left: 4.5rem;
        margin-right: 4.5rem;
        &:before {
            left: 10%;
            top: -4%;
        }
        &:after {
            right: -28.8%;
            top: 3.5%;
        }
    }
    @include media-breakpoint-up(xxl) {
        &:before {
            left: 15%;
            top: -4%;
        }
        &:after {
            right: -23.3%;
            top: 7.5%;
        }
    }
}
.img-hex-into-2 {
    &:before {
        display: none;
        @include media-breakpoint-down(md) {
            display: block;
            background: $bg-half-horz-cloud-white;

            top: 0;
            right: -100%;
            bottom: 0;
            left: -100%;
        }
    }

    @include media-breakpoint-up(lg) {
        &:after {
            right: -35%;
            top: 44.5%;
        }
    }

    @include media-breakpoint-up(xl) {
        &:after {
            right: -54%;
            top: 40.5%;
        }
    }

    @include media-breakpoint-up(xxl) {
        &:after {
            right: -35%;
            top: 44.5%;
        }
    }
}

.hex-and-dots {
    position: relative;

    &--img {
        @include media-breakpoint-up(xl) {
            visibility: hidden;
        }
    }

    &--text {
        @include media-breakpoint-up(xl) {
            z-index: 4;
        }
    }

    &:before {
        @include media-breakpoint-up(xl) {
            content: " ";
            display: block;
            position: absolute;
            aspect-ratio: 1227 / 1523;
            width: 1013px;
            z-index: 3;
            top: -3px;
            right: 0;
            background-image: url("/images/backgrounds/hex-and-dots.webp");
            background-repeat: no-repeat;
            background-size: cover;
        }

        @include media-breakpoint-up(xxl) {
            width: 1227px;
            top: 0;
        }
    }
}
