.link {
    &-underline {
        text-decoration: $link-decoration;
    }
    &-no-underline {
        text-decoration: none;
    }
    &s-white {
        a,
        a:hover {
            color: $white;
        }
    }
}
