.navbar--primary {
    .nav-link {
        text-transform: uppercase;
        &:not(.btn) {
            color: $menu-primary-color;
        }
        font-family: $menu-primary-font;
        font-weight: $menu-primary-weight;
        font-size: $menu-primary-size;
        letter-spacing: $menu-primary-letter-spacing;
    }
}
