.navbar--primary {
    .nav-link {
        text-transform: uppercase;
        &:not(.btn) {
            color: $menu-primary-color;
        }

        font-weight: $menu-primary-weight;
        font-size: $menu-primary-size;
    }
}
