@mixin mask-image($mask-url, $mask-size: 100%, $mask-repeat: no-repeat) {
    mask-image: url($mask-url);
    mask-size: $mask-size;
    mask-repeat: $mask-repeat;

    -webkit-mask-image: url($mask-url);
    -webkit-mask-size: $mask-size;
    -webkit-mask-repeat: $mask-repeat;

    -moz-mask-image: url($mask-url);
    -moz-mask-size: $mask-size;
    -moz-mask-repeat: $mask-repeat;
}
