@font-face {
    font-family: 'Quatro';
    src: local('Quatro Bold'), local('Quatro-Bold'),
        url('Quatro-Bold.woff2') format('woff2'),
        url('Quatro-Bold.woff') format('woff'),
        url('Quatro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }